@model List<Vcard>



<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="content-page-header">
                <h5>Datatable</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-buttons">
                        <h4 class="card-title">VCard List</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-stripped">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Company</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var vcard in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => vcard.FirstName)</td>
                                            <td>@Html.DisplayFor(modelItem => vcard.LastName)</td>
                                            <td>@Html.DisplayFor(modelItem => vcard.Mobile)</td>
                                            <td>@Html.DisplayFor(modelItem => vcard.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => vcard.Company)</td>
                                            <td>@Html.DisplayFor(modelItem => vcard.Country)</td>
                                            <td>@Html.DisplayFor(modelItem => vcard.State)</td>
                                            <td>@Html.DisplayFor(modelItem => vcard.City)</td>
                                            <td>
                                                <a asp-controller="VCard" asp-action="Edit" asp-route-id="@vcard.Id"><i class="fa-regular fa-pen-to-square"></i></a>
                                                <a asp-controller="VCard" asp-action="Details" asp-route-id="@vcard.Id"><i class="fa-solid fa-circle-right"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



